{{define "main"}}

<style>
    .listitem .title {
        font-size: 2em;
        font-weight: bolder;
        margin-bottom: 16px;
    }

    .listitem .lehrer {
        justify-self: flex-end;
    }
</style>

{{ range .Pages }}
<section class="listitem">
  <div id=".title">
    {{ .Page.Title }}
  </div>

  {{ .Page.Content }}

</section>

{{ end }}
{{ end }}