<style>
    #footer {
        background-color: #e5e5e5;
        padding: 4px 16px;
        align-self: flex-end;

        grid-row-start: 3;
        grid-row-end: 4;
    }
</style>

<div id="footer">
    
    <a href="{{ ref . "/impressum/index.md" }}">Impressum</a> |
    <a href="{{ ref . "/kontakt/index.md" }}">Kontakt</a>
</div>