<style>
  header {
      position: sticky;
      top: 0;
      padding: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid black;
      background-color: white;
      z-index: 1;
  }
  header #title {
    flex-grow: 1;
    font-size: 1.5em;
  }
  @media screen and (max-width: 768px) {
    header #title {
    flex-grow: 1;
    font-size: 1em;
  }
  }
  header a {
      font-size: 1em;
      padding: 0 8px;
      text-decoration: none;
      color: black;
  }

  header a:hover {
      text-decoration: underline;
  }
</style>

<header>
  <a href="{{ .Site.BaseURL }}">

  <img src='{{ printf "%s/logo-muskschule-uam.png" .Site.BaseURL }}' height="48px">

  </a>
    <a href="{{ .Site.BaseURL }}" id="title">
        {{.Site.Title}}
  </a>
  <a href='{{ ref . "/info/index.md" }}'>INFO</a> |
  <a href='{{ ref . "/kontakt/index.md" }}'>KONTAKT</a>
</header>
