
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

<style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        min-height: 100vh;

        --primary-color: orange;

        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    hr {
        border: 0;
        height: 1px;
        background: black;
    }


    section{
        margin-top: 4px;
        padding: 16px 32px;

    }

    section > * {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;

    }
    @media screen and (max-width: 768px) {
        section {
            padding: 8px 16px;
        }
    }

</style>