{{ define "main" }}
<style>

    main #contentwrapper {
        padding: 32px 64px;
        background-image: radial-gradient(#ffffff00, #ffffff88), url('DSC05071-2880w.webp');
        background-size: cover;
        border-bottom: 1px solid black;
    }

    main #content{
        max-width: 768px;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);  
        backdrop-filter:  blur(4px);
        border-radius: 2px;
    }

    #musikfächer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 768px;
        margin: 0 auto;

        padding: 8px 0;
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;

    }

    #musikfächer .block:hover{
        filter: brightness(1.25);
    }
    #musikfächer .block {
        filter: brightness(1.1);

        border-radius: 8px;
        height: 96px;
        word-wrap: break-word;
        background-size: cover;

        margin: 4px;
        min-width: 128px;
        max-width: 196px;
        padding: 8px;
    }

    #musikfächer a {
        text-decoration: none;
        color: black;
        flex: 1;
        max-width: 196px;

    }
    #musikfächer .title {
        color: white;
        display: inline-block;
        background-color: black;
        border-radius: 2px;
        padding: 2px 4px;
    }

    #angebot {
        padding-bottom: 0;
    }
</style>
<main aria-role="main">
    <div id="contentwrapper">
    <section id="content">
        {{.Content}}
    </section>
</div>

    <section id="angebot">
        <p><strong>Unser Angebot:</strong></p>
    </section>
    <div id="musikfächer">
    {{ range .Site.Taxonomies.musikfaecher }}
        <a href="{{ .Page.Permalink }}">
            {{ $categoryImage := .Page.Resources.GetMatch "cover.jpg"}}

            {{ if $categoryImage }}
                {{ $preview := $categoryImage.Resize "512x"}}
                <div class="block"
                style="background-image: url('{{  $preview.Permalink }}')"
                >
                    <div class="title">{{ .Page.Title }}</div>
                </div>
            {{ else }}
                <div class="block" style="background: grey;">
                    <div class="title">{{ .Page.Title }}</div>
                </div>
            {{ end }}
        </a>
    {{ end }}
    </div>

    <section>
        {{ with .Site.GetPage "/kontakt/index.md" }}
          {{.Content}}
        {{ end}}
    </section>
</main>
{{ end }}