{{define "main"}}

<style>
    .listitem {
        max-width: 768px;
        margin: 0 auto;
    }
    .listitem .title {
        font-size: 2em;
        margin-bottom: 16px;
        margin-top: 32px;
        font-family: 'Indie Flower', cursive;
        color: #1f1f1f;

        border-bottom: 2px dashed #1f1f1f;
    }

    .listitem .lehrer {
        justify-self: flex-end;
    }

    .listitem .image {
      float: left;
      margin-right: 8px;
      border-radius: 16px;
      width: 128px;
      height: 128px;
      background-size: cover;
    }
    .listitem:nth-child(2n+1) .image {
      float: right;
      margin-right: 0px;
      margin-left: 8px;

    }

    .listitem:nth-child(2n+1) .title {
      text-align: right;
    }
</style>

{{ range .Pages }}
<section class="listitem">

  {{ $instrumentImage := .Page.Resources.GetMatch "cover.*" }}
  {{ if $instrumentImage }}
    {{ $preview := $instrumentImage.Resize "512x"}}
    <div class="image"
      style="background-image: url('{{  $preview.Permalink }}')">
    </div>
  {{ else }}
    <div class="image" style="background-color: grey;"></div>
  {{ end }}

  <div class="title">
    {{ .Page.Title }}
  </div>

  {{ .Page.Content }}

  <div class="lehrer">
    Lehrer: {{ .Page.Params.lehrer }}
  </div>

</section>

{{ end }}
{{ end }}