<style>
  .contact {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
  }
  .contact #avatar {
      border-radius: 32px;
      height: 64px;
      width: 64px;
      object-fit: cover;
      margin-right: 8px;
  }
  .contact #name {
     margin-right: 16px;
  }
</style>
<div>
  <div class="contact">
      {{ if .Get "img"}}
      <img id="avatar" src='{{.Get "img"}}'>
      {{ else}}
      <img id="avatar" style="background-color: #e5e5e5;">
      {{ end }}
      <div id="name">{{.Get "name"}}</div>   
  </div>
</div>